<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="keywords" content="TECLADOS, GAMER, CUSTOM">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CustomKboard-Teclados</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <section class="primero">
                        <!--NAVEGACION CON BOOSTRAP  -->
    <nav class="navbar navbar-dark bg-dark">
        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="../index.html">inicio <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Teclados <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/mouses.html">Mouses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/combos.html">Combos</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ver más
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Solo de pureba</a>
                    <a class="dropdown-item" href="#">Solo de pureba</a>
                    <a class="dropdown-item" href="#">Solo de pureba</a>
                   
                  </div>
                </li>
              </ul>
            </div>
          </nav>
      </nav>
                        <!-- TITULO E IMAGENES BOOSTRAP + CUSTOM CSS  -->
      <div class="container">
          <div class="title">
            <h1 class="tituloh1 miTitulo">SPLIT-<span id="K">K</span>-BOARD</h1>
              <p>Teclados y perfifericos gamer</p>
          </div>
          <div class="row">
              <div class="col-md-12 text-center miParrafo">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed dicta veritatis sequi impedit facilis voluptatem. Excepturi magnam ducimus libero culpa?</p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <div class="card text-center miImagen">
                      <img src="../assets/img/customKboard1-min.jpg" class="card-img-top cardEdit" alt="primerTeclado">
                      <div class="card-body">
                          <h5 class="card-title">Custom Kurama</h5>
                          <p class="card-text">Los teclados custom estan hechos a tu medida y gustos</p>
                          
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="card text-center miImagen">
                    <img src="../assets/img/customKboard3-min.jpg" class="card-img-top cardEdit " alt="primerTeclado">
                    <div class="card-body">
                        <h5 class="card-title">Custom Rainar</h5>
                        <p class="card-text">Los Mouse Rainar estan hechos con la mejor performance</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center miImagen">
                    <img src="../assets/img/customKboard4-min.jpg" class="card-img-top cardEdit " alt="primerTeclado">
                    <div class="card-body">
                        <h5 class="card-title">Custom Bertotho</h5>
                        <p class="card-text">Los teclados custom estan hechos a tu medida y gustos</p>
                       
                    </div>
                </div>
            </div>
          </div>
      </div>
  <!-- FOOTER -->
    <footer class="miFooter">
        <p class="text-center">Siguenos en redes Sociales</p>
        <div class="row">
            <div class="col-md-4 text-center">
               <img src="../assets/img/InstagramIcon.png" alt="IconoInstagram" class="iconos">
            </div>
            <div class="col-md-4 text-center">
               <img src="../assets/img/WhatsAppIcon.png" alt="IconoIWhatsApp" class="iconos">
            </div>
            <div class="col-md-4 text-center">
               <img src="../assets/img/FaceBookIcon.png" alt="IconoFaceBook" class="iconos">
            </div>
               
        </div>
    </footer>


  </section>


          






<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>